outputs/*
datasets/*
libsparqltotext/__pycache__/*
libsparqltotexttests/__pycache__/*
.vscode/*
diagrams.drawio
libwikidatallm/__pycache__/*
libwikidatallmtests/__pycache__/*
scripts/test_mistral.py
.$diagrams.drawio.bkp
scripts/generate_finetuning_dataset.ipynb