.$diagrams.drawio.bkp
.vscode/*
datasets/*
diagrams.drawio
libsparqltotext/__pycache__/*
libsparqltotexttests/__pycache__/*
libwikidatallm/__pycache__/*
libwikidatallmtests/__pycache__/*
scriptstests/__pycache__/*
__pycache__/*
outputs/*
scripts/generate_finetuning_dataset.ipynb
scripts/test_mistral.py
scripts/test_tokenizer.py
scripts/training_peft_example.ipynb
scripts/training_peft.ipynb
scripts/evaluation_bench.ipynb
scripts/__pycache__/*
tmp_trainer/*
wandb/*
config_orchestration.ini