__pycache__/*
.$diagrams.drawio.bkp
.vscode/*
config_orchestration.ini
datasets/*
diagrams.drawio
libsparqltotext/__pycache__/*
libsparqltotexttests/__pycache__/*
libwikidatallm/__pycache__/*
libwikidatallmtests/__pycache__/*
llama.log
modules/__pycache__/*
modules/libsparqltotext/__pycache__/*
modules/libwikidatallm/__pycache__/*
outputs/*
scripts/__pycache__/*
scripts/evaluation_bench.ipynb
scripts/generate_finetuning_dataset.ipynb
scripts/test_mistral.py
scripts/test_tokenizer.py
scripts/training_peft_example.ipynb
scripts/training_peft.ipynb
scriptstests/__pycache__/*
tests/__pycache__/*
tests/libsparqltotexttests/__pycache__/*
tests/libwikidatallmtests/__pycache__/*
tests/scriptstests/__pycache__/*
tmp_trainer/*
wandb/*